body{
    background-color: palevioletred;
    height: 5000px;
}

/* loader */
#preloader{
    background-color:#000000;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    
}
#status{
    background-image: url("../img/loading.gif");
    position: fixed;
    width:100%;
    height: 100%;
    left:36%;
    top:35%;
    margin-top: -35px;
    margin-left: -35px;
    background-repeat: no-repeat;
}
/* loader end */

/* navbar */
.nav{
    background-color: rgb(255, 136, 0);
    height: 100px;
    width: 100%;
}
/* navbar end */

/*header*/
.navhead{
    color: white;
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    margin-left: 100px;
}
.date{
    font-size: 15px;
    color: white;
    margin-top: 50px;
    font-weight: bold;
}
/* header end */

/*for icons*/ 
.icons{
    margin-left: 35%;
}
.fas{
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 3;
}
.fas:hover{
    transform: scale(1.2);
    transition: .7s;
    color: #ffee02;
}
/* for icons end */

/*for description image*/
.description_image{
    height: 700px;
    width: 100%;
    z-index: -2;
}
.black{
    background-color: rgba(0, 0, 0, 0.8);
    height:700px;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    z-index: 1;
}
/* for description end */

/*logo*/
.logo{
    height: 270px;
    width: 270px;
    margin-top: -1000px;
    margin-left: 100px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
}
.logo:hover{
    box-shadow: 0 0 300px #ff6600,
    0 0 10px  #ff0303,
    10px 0 30px #ffa703,
    -10px 0 30px #ff00ff,
    0 0 300px #ff6600 inset,
    0 0 10px  #ff0303 inset,
    10px 0 30px #ffa703 inset,
    -10px 0 30px #ff00ff inset; 
    transform: scale(1.1);
    transition: .7s;  
}
.about_header{
    
    color: white;
    z-index: 3;
    position: relative;
    font-size: 30px;
    margin-left: 450px;
    margin-top: -680px;
}
.menu{
    background-color: rgba(255, 136, 0, 0.829);
    height: 65px;
    width: 130px;
    margin-top: 160px;
    margin-left: 53%;
    color: rgb(255, 251, 0);
    font-size: 40px;
    padding-left: 3px;
    font-weight: bold;
    z-index: 2;
    position: relative;
    border: 3px solid rgb(255, 251, 0);;  
    -webkit-animation: move 5s infinite linear;
    
}
.menuStyle{
    text-decoration: none;
}
.menu:hover{
    transition: .6s;           
    background-image: 
    -webkit-linear-gradient(92deg,rgb(0, 38, 255), rgb(255, 102, 0), #ffe600);
    color: white;
    border:3px solid white;
}
/* logo end */

/* menu css */
#menutp{
    font-size: 100px;
    font-weight: bold;
    color: white;
    font-style: italic;
    margin-top: 200px;
    margin-left: 80px;}
.menulst{
    height: 300px;
    width: 800px;
    background-color: aliceblue;
    margin-left: 30px;}
.menuitm{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 60px;
    width: 100%;
    font-size: 30px;
    padding-top: 10px;}
.menuitmd{
    background-color: rgb(78, 1, 78);
    color: white;
    height: 60px;
    width: 100%;
    font-size: 30px;
    padding-top: 10px;}
#pancake{
    position: absolute;
    right: 0px;
    height: 410px;
    width: 600px;
    margin-top: -407px;}
#pizza{
    position: absolute;
    left: 0px;
    margin-top: -110px;
    height: 410px;
    width: 600px;}
.menulunch{
    font-size: 100px;
    font-weight: bold;
    color: white;
    font-style: italic;
    margin-top: 50px;
    margin-left: 620px;}
.menulstln{
    height: 300px;
    width: 728px;
    background-color: aliceblue;
    position: absolute;
    right: 20px;}
/* menu end */

/* for beanery specials :start */
#beanerySpecial{
    background-color: rgb(255, 136, 0);
    height: 100px;
    width: 80%;
    position: relative;
    margin-top: 350px;
    margin-left: 10%;
    padding-left: 19%;
    color: white;
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
    text-decoration: underline;
}
.container{
width: 1900px;
position: relative;
display: flex;
justify-content: space-between;
flex-wrap:wrap;
height: 500px;
}
.container .card{
position: relative;
background-color:palevioletred;
border: none;
}
.container .card .face{
width:350px;
height: 200px;
transition:.4s;
}
.container .card .face.face1{
position: relative;
background: black;
display: flex;
justify-content: center;
align-content:center;
align-items: center;
z-index: 1;
transform: translateY(100px);
height: 295px;
}
.container .card:hover .face.face1{
transform: translateY(0);
margin-top: 54px
}
.container .card .face.face1 .content .foodMenu{
    opacity: .4;
    transition:  0.5s;
    text-align: center;
}
.container .card:hover .face.face1 .content img{
opacity: 1;
}
.container .card .face.face1 .content h3{
font-size: 2em;
color: rgb(255, 255, 255);
text-align: center;
text-shadow: 0 0 10px palevioletred;
}
.container .card .face.face1 .content a{
 transition: .5s;
}
.container .card .face.face2{
 position: relative;
 background: rgb(172, 144, 21);
 display: flex;
 align-items: center;
 justify-content: center;
color: white;
font-size: 20px;
height: 250px;
box-shadow: 0 20px 50px rgba(0,0,0,.8),
0 0 50px palevioletred inset,
40px 0 30px rgb(255, 2, 86) inset,
-40px 0 30px rgb(177, 68, 104) inset;
transform: translateY(-160px);
}
.container .card:hover .face.face2{
  transform: translateY(0);
}
.content p{
    padding-left: 15px;
}
.foodMenu{
    height: 250px;
    width: 100%;
}
#firstlst{
    z-index: 2;
}
#secondlst{
    z-index: 1;
}
/* for beanery specials :end */


/* for animation */
@keyframes move {
    0% {
       transform: translatey(0px);
    }
    50% {
       transform: translatey(-25px);
    }
    100% {
       transform: translatey(10px);
       
    }